# In all environments, the following files are loaded if they exist,
# the latter takes precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=YOUR_SECRET_HERE
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="mysql://root:@127.0.0.1:3306/lammabd?serverVersion=8.1.25&charset=utf8mb4"
###< doctrine/doctrine-bundle ###

###> symfony/messenger ###
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
###< symfony/messenger ###

###> symfony/mailer ###
MAILER_DSN=smtp://apikey:YOUR_SENDGRID_API_KEY@smtp.sendgrid.net:587
###< symfony/mailer ###

# Token Hugging Face pour l'analyse avancée du sentiment
HUGGING_FACE_API_TOKEN=
