# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
# https://symfony.com/doc/current/configuration/secrets.html
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=17b8cd5373cb0af68d681f961fbc2b99
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
# Format described at https://www.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# IMPORTANT: You MUST configure your server version, either here or in config/packages/doctrine.yaml
#
# DATABASE_URL="sqlite:///%kernel.project_dir%/var/data_%kernel.environment%.db"
# DATABASE_URL="mysql://app:!ChangeMe!@127.0.0.1:3306/app?serverVersion=8.0.32&charset=utf8mb4"
# DATABASE_URL="mysql://app:!ChangeMe!@127.0.0.1:3306/app?serverVersion=10.11.2-MariaDB&charset=utf8mb4"
# XAMPP : importer equipement.sql dans la base `gestion_equipement`, puis :
#   php bin/console doctrine:migrations:migrate
# Si erreur "could not find driver" : dans C:\xampp2\php\php.ini décommenter extension=pdo_mysql
# puis redémarrer Apache. En CLI : C:\xampp2\php\php.exe bin\console ...
DATABASE_URL="mysql://root:@127.0.0.1:3306/gestion_equipement?serverVersion=10.4.32-MariaDB&charset=utf8mb4"
# DATABASE_URL="postgresql://app:!ChangeMe!@127.0.0.1:5432/app?serverVersion=16&charset=utf8"
###< doctrine/doctrine-bundle ###

###> symfony/messenger ###
# Choose one of the transports below
# MESSENGER_TRANSPORT_DSN=amqp://guest:guest@localhost:5672/%2f/messages
# MESSENGER_TRANSPORT_DSN=redis://localhost:6379/messages
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
###< symfony/messenger ###

###> symfony/mailer ###
MAILER_DSN=null://null
###< symfony/mailer ###

###> API KEYS ###
OPEN_METEO_API_URL="https://api.open-meteo.com/v1/forecast"
NOMINATIM_API_URL="https://nominatim.openstreetmap.org/reverse"
QR_SERVER_API_URL="https://api.qrserver.com/v1/create-qr-code/"
STRIPE_PUBLIC_KEY="pk_test_51TMv90GkgmCh6RKpfDZjpzDJ4JJPYGQIKW1A7CgXQk1M6lXjmmfBIF8v1DkzWqYoXFY1TUAqXmeCnQeohuBUnR9v00GqGF3sO0"
STRIPE_SECRET_KEY=STRIPE_SECRET_KEY=YOUR_KEY_HERE
OSRM_API_URL="http://router.project-osrm.org/route/v1"
OSRM_API_KEY=""
###< API KEYS ###
