<!-- Top Navbar -->
<div class="main-header-area" style="background: #fff; padding: 10px 0; border-bottom: 1px solid #eee; position: sticky; top: 0; z-index: 1000;">
    <div class="container-fluid px-4">
        <div class="row align-items-center">
            <div class="col-xl-3 col-lg-3">
                <div class="logo">
                    <a href="{{ path('app_home') }}" class="d-flex align-items-center">
                        <img src="{{ asset('img/logo_lamma.png') }}" alt="LAMMA" style="height: 45px;" onerror="this.src='https://cdn-icons-png.flaticon.com/512/3069/3069172.png'">
                        <span style="font-family: 'Anton', sans-serif; font-size: 1.8rem; color: var(--scout-navy); margin-left: 10px;">LAMMA</span>
                    </a>
                </div>
            </div>
            <div class="col-xl-9 col-lg-9 text-right">
                <div class="main-menu d-none d-lg-block">
                    <nav>
                        <ul id="navigation" style="display: flex; justify-content: flex-end; gap: 30px; list-style: none; margin: 0;">
                            <li><a href="{{ path('app_home') }}" style="text-decoration: none; font-weight: 700; color: var(--scout-navy);">ACCUEIL</a></li>
                            <li><a href="#" style="text-decoration: none; font-weight: 700; color: var(--scout-navy);"><i class="fa fa-user-circle-o"></i> ADMIN MASTER</a></li>
                            <li><a href="#" style="text-decoration: none; font-weight: 700; color: var(--scout-orange);">DÉCONNEXION</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
