<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="sb-sidenav-menu-heading text-uppercase font-weight-bold" style="letter-spacing: 1px;">Gestion</div>
        <a class="nav-link py-3 {% if app.request.attributes.get('_route') == 'app_admin' %}active text-primary fw-bold{% endif %}" href="{{ path('app_admin') }}">
            <div class="sb-nav-link-icon text-primary"><i class="fa fa-tachometer fa-lg"></i></div>
            Tableau de bord
        </a>
        <a class="nav-link py-3 {% if app.request.attributes.get('_route') == 'app_boutique_new' %}active text-primary fw-bold{% endif %}" href="{{ path('app_boutique_new') }}">
            <div class="sb-nav-link-icon text-primary"><i class="fa fa-plus-circle fa-lg"></i></div>
            Ajouter équipement
        </a>

        <div class="sb-sidenav-menu-heading mt-3 text-uppercase font-weight-bold" style="letter-spacing: 1px;">Navigation</div>
        <a class="nav-link py-3" href="{{ path('app_home') }}">
            <div class="sb-nav-link-icon text-secondary"><i class="fa fa-arrow-left fa-lg"></i></div>
            Retour au site
        </a>
    </div>
    <div class="sb-sidenav-footer">
        <div class="small">Connecté en tant que</div>
        ADMINISTRATEUR
    </div>
</nav>
