{% extends 'admin/base.html.twig' %}

{% block content %}
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-chart-line me-1"></i>
        Statistics Dashboard
    </div>
    <div class="card-body">
        <div style="height: 400px;">
            {{ render_chart(chart) }}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Total Posts</div>
            <div class="card-body">
                <h1>{{ posts|length }}</h1>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Total Comments</div>
            <div class="card-body">
                <h1>{{ total_comments }}</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}