<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Document PDF{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body style="font-family: sans-serif;">
    {% block body %}{% endblock %}
</body>
</html>
